<h1> Sign up </h2>
<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>

  <!--this will not be in params[:user] because it is not attached to the f
      also note that I had to use the form_tag style helper here because I
      am not attaching it to the object related form_for f -->

  <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>

  <%= f.label :birthday %>
  <%= f.date_select :birthday, start_year: 1900 %>
  <%= f.submit "Sign Up" %>
<% end %>
